.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profilepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imageAndDetails {
  display: flex;
  cursor: pointer;
  /* border: rgb(102, 255, 0) solid 1px; */
}
.mainLeft {
  margin-top: 20px;
  margin-left: 15px;
  flex: 0 0 27.333333%;
  padding: 20px;
  /* border: green solid 1px; */
}
.first {
  /* border: red solid 1px; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.hr {
}
.thirdSec {
  flex-direction: row;
  justify-content: space-between;
}
.mainCenter {
  flex: 0 0 37.333333%;
  margin-top: 20px;
  padding: 20px;
}
.mainRight {
  flex-basis: 27.333333%;
  flex-wrap: nowrap;
  /* border: red solid 1px; */
  margin-top: 20px;
  padding: 20px;
}
.textField {
  border-radius: 25%;
}
.postIcons {
}
.drop2 {
  text-align: center;
  padding: 10px;
}
.mainPost {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.mainPost2 {
}
.test {
  display: flex;

  border: green solid 5px;
}
.test2 {
  border: green solid 5px;
  flex: 1 1 37.333333%;
}
.dropClass {
  cursor: pointer;
  border: dashed 3px gray;
  flex: 1;
}
.deleteIcon {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .thirdSec {
    flex-direction: column;
    justify-content: space-between;
  }
}
